API_DOMAIN=api.example.com
STORAGE_DOMAIN=storage.example.com
MONGO_PASSWORD=REPLACE_WITH_RANDOM_HEX
STORAGE_SECRET=REPLACE_WITH_RANDOM_HEX
JWT_SECRET=REPLACE_WITH_RANDOM_HEX
ZSEND_API_KEY=REPLACE_WITH_EMAIL_API_KEY
NUPHOS_EMAIL_FROM=REPLACE_WITH_VERIFIED_SENDER
